{% extends 'base.html' %}

{% block title %}
    Locations
{% endblock %}


{% block container %}
    <div class="schedules-content">
        <div class="col-sm">
            <a href="{% url 'alarm_systems:add_location_customer' customer.id %}"
               class="btn btn-secondary  rounded-10 text-light m-1">Add new
                location for {{ customer.first_name }} {{ customer.last_name }}</a>
            <a href="{% url 'alarm_systems:main_view' %}" class="btn btn-info">Return to
                customer list</a>
        </div>
        <table class="table border-bottom border-dark ">
            <thead>
            <tr class="d-flex">
                <th class="col-sm-1">ID</th>
                <th class="col-1">NAME</th>
                <th class="col-2">ADDRESS</th>
                <th class="col-md-2">DESCRIPTION</th>
                <th class="col-2 text-center">ACTIONS</th>
            </tr>
            </thead>
            <tbody class="text-color-lighter">
            {% for location in locations %}
                <tr class="d-flex ">
                <td class="col-sm-1">{{ location.id }}</td>
                <td class="col-1">{{ location.name }}</td>
                <td class="col-2">{{ location.address }}</td>
                <td class="col-md-2">{{ location.description }}</td>
                <td class="col-1 d-flex align-items-center justify-content-center flex-wrap">
                <a href="#"
                   class="btn btn-danger rounded-10 text-light m-1">Delete</a>
                <td class="col-1 d-flex align-items-center justify-content-center flex-wrap">
                <a href="{% url 'alarm_systems:location_details' location.id %}"
                   class="btn btn-info rounded-10 text-light m-1">See systems</a>
                <td class="col-1 d-flex align-items-center justify-content-center flex-wrap">
                <a href="{% url 'alarm_systems:edit_location' location.id %}"
                   class="btn btn-dark rounded-10 text-light m-1">Edit All</a>{% endfor %}
            </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}