{% extends 'base.html' %}

{% block title %}
    Systems
{% endblock %}


{% block container %}
    <div class="schedules-content">
        <div class="col-sm">{% for demanded_action in locations %}
            <a href="{% url 'alarm_systems:add_system_for_location' demanded_action.id %}"
               class="btn btn-secondary  rounded-10 text-light m-1">Add new
                system for </a>
            <a href="{% url 'alarm_systems:details_customer' demanded_action.customer_id %}" class="btn btn-info">Return</a>
        {% endfor %}
        </div>
        <table class="table border-bottom border-dark ">
            <thead>
            <tr class="d-flex">
                <th class="col-sm-1">ID</th>
                <th class="col-1">DATE INSTALLED</th>
                <th class="col-2">LAST CHECK</th>
                <th class="col-md-2">NAME</th>
                <th class="col-2 text-center">ACTIONS</th>
            </tr>
            </thead>
            <tbody class="text-color-lighter">
            {% for system in systems %}
                <tr class="d-flex ">
                <td class="col-sm-1">{{ system.id }}</td>
                <td class="col-1">{{ system.date_installed }}</td>
                <td class="col-2">{{ system.last_check }}</td>
                <td class="col-md-2">{{ system.system_type.name }}</td>
                <td class="col-1 d-flex align-items-center justify-content-center flex-wrap">
                <a href="#"
                   class="btn btn-danger rounded-10 text-light m-1">Delete</a>
                <td class="col-1 d-flex align-items-center justify-content-center flex-wrap">
                <a href="#"
                   class="btn btn-info rounded-10 text-light m-1">See details</a>
                <td class="col-1 d-flex align-items-center justify-content-center flex-wrap">
                <a href="#"
                   class="btn btn-dark rounded-10 text-light m-1">Edit All</a>{% endfor %}
            </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}