{% extends 'base.html' %}

{% block title %}
    Alarm Systems
{% endblock %}


{% block container %}
    <div class="schedules-content">
    <a href="{% url 'alarm_systems:add_customer_view' %}" class="btn btn-dark rounded-0 text-light m-1">Add new
        customer</a>
    <table class="table border-bottom">
    <thead>
    <tr class="d-flex">
        <th class="col-sm-1">ID</th>
        <th class="col-1">NAME</th>
        <th class="col-1">SURNAME</th>
        <th class="col-2">ADDRESS</th>
        <th class="col-2">EMAIL</th>
        <th class="col-1">PHONE NUMBER</th>
        <th class="col-md-2">DESCRIPTION</th>
        <th class="col-1">DATE JOINED</th>
        <th class="col-2 text-center">ACTIONS</th>
    </tr>
    </thead>
    <tbody class="text-color-lighter">
    {% for customer in customers_all %}
        <tr class="d-flex">
            <td class="col-sm-1">{{ customer.id }}</td>
            <td class="col-1">{{ customer.first_name }}</td>
            <td class="col-1">{{ customer.last_name }}</td>
            <td class="col-2">{{ customer.address }}</td>
            <td class="col-2">{{ customer.email }}</td>
            <td class="col-1">{{ customer.phone_number }}</td>
            <td class="col-md-2">{{ customer.description }}</td>
            <td class="col-1">{{ customer.date_joined }}</td>
            <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                <a href="{% url 'alarm_systems:delete_customer_view' customer.id %}" class="btn btn-danger rounded-0 text-light m-1">Delete</a>
                <a href="#" class="btn btn-info rounded-0 text-light m-1">Details</a>
                <a href="#" class="btn btn-dark rounded-0 text-light m-1">Edit</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
