{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Delete warning
{% endblock %}


{% block container %}

    <form action="" method="post">
        {% csrf_token %}

        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-danger">Yes. Delete.</button>
        <a href="{% url 'alarm_systems:main_view' %}" class="btn btn-outline-success ">No. Return to customer
            list page.</a>

    </form>

{% endblock %}


<form action="" method="post">
    {% csrf_token %}
    <h1>CAUTION! This will erase all data
        about {{ customer_to_be_deleted.first_name }} {{ customer_to_be_deleted.last_name }}.
        Are you sure?</h1>
    {{ form|crispy }}
    <button type="submit" class="btn btn-outline-danger">Yes. Delete.</button>
    <a href="{% url 'alarm_systems:main_view' %}" class="btn btn-outline-success ">No. Return to customer
        list page.</a>

</form>